# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
package-lock.json


# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/config

#System Files
.DS_Store
Thumbs.db
start.bat

/config/config.js
